name: "Rust workflow"

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: Install fontforge
        run: sudo apt-get install fontforge
      - name: Install sass
        run: |
          curl -L https://github.com/sass/dart-sass/releases/download/1.77.8/dart-sass-1.77.8-linux-x64.tar.gz | tar xz -C /usr/local/bin --strip-components=1 dart-sass
      - name: Install wasm target
        run: rustup target add wasm32-unknown-unknown
      - name: Build builder binary first
        run: cargo build -p builder
      - name: Run tests
        run: cargo test
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Building package
        run: cargo build
